In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('/Users/vallirajasekar/Downloads/IMDB Dataset.csv')

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
df.shape

(50000, 2)

In [5]:
df.sentiment.value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [6]:
df['sentiment_score'] = df['sentiment'].apply(lambda x: 1 if x =='positive' else 0)

In [7]:
df.head()

,review,sentiment,sentiment_score
0,One of the other reviewers has mentioned that ...,positive,1
1,A wonderful little production. <br /><br />The...,positive,1
2,I thought this was a wonderful way to spend ti...,positive,1
3,Basically there's a family where a little boy ...,negative,0
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,1

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.review, df.sentiment_score, test_size=0.2)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
v=CountVectorizer()

#fit_transform -- Need to learn

In [11]:
X_train_cv = v.fit_transform(X_train.values)
X_train_cv

<40000x92987 sparse matrix of type '<class 'numpy.int64'>'
	with 5471581 stored elements in Compressed Sparse Row format>

In [12]:
X_train_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [14]:
X_train.shape

(40000,)

In [13]:
X_train_cv.shape

(40000, 92987)

In [15]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train_cv, y_train)

MultinomialNB()

In [16]:
X_test_cv = v.transform(X_test)

In [17]:
from sklearn.metrics import classification_report

y_pred = model.predict(X_test_cv)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.89      0.86      4989
           1       0.88      0.82      0.85      5011

    accuracy                           0.85     10000
   macro avg       0.86      0.85      0.85     10000
weighted avg       0.86      0.85      0.85     10000

In [19]:
emails = [
    '''JAWAN is nothing short of a cinematic marvel! Shah Rukh Khan, the reigning king of Bollywood, has once again left us in awe with his superhit movie that transcends the boundaries of conventional cinema. Directed by the visionary director, JAWAN takes us on a rollercoaster ride of emotions, entertain ...More
50 people found this helpful''',
      '''
      A Cinematic Masterpiece"
"Jawan" is one of the best movies of the year! There are lot of scenes that will touch your heart. This movie is in the league of RRR and KGF.  A solid 5/5. Literally didn't expect this type of creativity from Bollywood.Jawan has everything to offer you want to expect in a good Movie.Action, Romance, Comedy, Thriller, Emotions, in simple words Jawan is a roller coaster of emotion which put you to the edge of your seat till the very end.2 Hours and 48 Mins of Movie and Never Got Bored of any second.second.Shah Rukh Khan the one and Only and truly the Last of Stars in Bollywood ever He Totally Nailed his role.I can't imagine srk in multiple roles and he has nailed it in each and every role. 
The chemistry between SRK and Nayanthara is pure magic.
Nayanthara’s screen prese''',
    
    '''
    Being a Superstar apart, a man with almost 5 decades of experience indulging in making cinema MUST know (from pure conceptual stand point) what best to give his audience that not only stands the test of time but also keeping up to mark when it comes to the choice of choosing to work upon. 

This worthless director has decided to keep all the audiences limited to such a smaller scope, a melodramatic abomination, that he has over seen the fact that a "super star" faction has been utilised to impose this sub standard entertainment THUS WASTING TIME and MONEY of our polarized audiences AND countless ENERGY. 

ONE WORD: DONT BOTHER SEEING THIS IGNOMINOUS FERAL OF A MAKING THEY CALL A MOVIE'''
    
]

emails_count = v.transform(emails)
model.predict(emails_count)

array([1, 1])